/* EBOOK */


.fundobranco2{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.sectionebook{
    background-image: url(../img/bgsn.png);
    background-repeat: repeat;
    background-size: contain; 
}

.linha3{
    width:400px;
    background-color: darkgray;
}

.tituloebook{
    font-size: 40px ;
    font-family: 'Rosario', sans-serif;
    white-space: nowrap;
}

.textoebook{
    font-size: 20px;
    font-family: 'Rosario', sans-serif;
    white-space: nowrap;
    cursor: pointer;
}

.btn-outline-warning{
    color:white;
    border-color: #FFAF23;
    border-width: 2px;
}

.btn-outline-warning:hover{
    background-color: #FFAF23;
}

.botaoebook{
    color:black;
    
} 

.botaoebook:hover{
    text-decoration: none;
    color: aliceblue;
}

@media(max-width:768px){
    /* EBOOK */
    .imgebook{
        height: 150px;
    }
}

@media(max-width:600px){
    /* EBOOK */
    .fundobranco2{
        margin-left: 0;
        margin-right: 0;
    }

}

@media(max-width:985px){
    /* EBOOK */
    .sectionebook{
        background: white;
    }

    .tituloebook{
        font-size: 30px;
    }

    .linha3{
        width:300px;
    }
    
}

/* ANIMAÇÃO SURGINDO NA PÁGINA */

[data-anime]{
    opacity: 0; 
    transition: .3s;
}

[data-anime="left"]{
        transform: translate3d(-50px, 0, 0);
}


[data-anime="top"]{
    transform: translate3d( 0, 50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


